@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
:root {
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-display: "Manrope", sans-serif;
  --color-background: oklch(96.2% 0.018 272.314);
}
/* * {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
} */
